<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>聖徳太子からの挑戦状 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="header">
        <img src="assets/images/header.png" width="100%">
    </div>
    <main>
    <div id="stage" class="messenger">
        <div class="messagebox_L"><a>た、助けて！</a></div>
        <div class="messagebox_L"><a>昨日もらったタイムマシンで事故を起こしてしまった</a></div>
        <div class="messagebox_L"><a>しかも知らない時代に取り残されてるんだよ...</a></div>
        <div class="messagebox_L"><a>頼む、助けてくれ</a></div>
        <div class="messagebox_R"><a>だから気をつけてって言ったのに...</a></div>
        <div class="messagebox_R"><a>とにかくまずは時代を把握しないと、近くに何かないの？</a></div>
        <div class="messagebox_L"><a>えーと...</a></div>
        <div class="messagebox_L"><a>こんな石碑がある</a></div>
        <img src="assets/images/header.png" class="imagebox_L" alt="" width="70%">
        <div class="messagebox_R"><a>遣隋使か...遣隋使って言ってもたくさんいるよなあ...</a></div>
        <div class="messagebox_R"><a>他には何かない？</a></div>
        <div class="messagebox_L"><a>ドラレコにこんな映像があった</a></div>
        <img src="assets/images/亜空間.png" class="imagebox_L" alt="" width="70%">
        <div class="messagebox_R"><a>うーん...他には？</a></div>
        <div class="messagebox_L"><a>他には特に無い</a></div>
        <div class="messagebox_R"><a>何年だろう...</a></div>
        <div class="messagebox_R"><a>数字だけ打ち込んでね</a>

        <section class="section bg-color--keycolor">
          <div class="container">
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>
          </div>
        </section>

        </div>
        <div v-if="clear['stage1']" id="sectionStage2" class="stage">
        <div class="messagebox_L"><a>おお！さすがだぜ！</a></div>
        <div class="messagebox_R"><a>あれは小野妹子が乗ってるやつかな、多分それがタイムワープに巻き込まれたんだ</a></div>
        <div class="messagebox_L"><a>そんな有名人を巻き込んで大丈夫かよ</a></div>
        <div class="messagebox_R"><a>僕に言われても</a></div>
        <div class="messagebox_R"><a>とりあえず白亜紀とかじゃなくてよかったし、故障した原因を探そうか</a></div>
        <div class="messagebox_L"><a>でも俺は機械全然分からないぞ？</a></div>
        <div class="messagebox_R"><a>画面操作でAIが答えてくれるよ</a></div>
        <div class="messagebox_R"><a>左上のボタンを押せばいけるはず</a></div>
        <div class="messagebox_L"><a>おっ、でてきた！けどなんか暗号化されてる！</a></div>
        <img src="assets/images/Q2.png" class="imagebox_L">
        <div class="messagebox_R"><a>AIも不調みたいだ、えーとこれは...</a></div>
        <div class="messagebox_R">

        <section class="section bg-color--keycolor">
          <div class="container">
            <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
          </div>
        </section>

        </div>
      </div>
        <div v-if="clear['stage2']" id="sectionStage3" class="stage">
        <div class="messagebox_R"><a>充電切れだ！</a></div>
        <div class="messagebox_L"><a>おお！</a></div>
        <div class="messagebox_R"><a>ってこれも言ったよね...</a></div>
        <div class="messagebox_L"><a>ご、ごめん</a></div>
        <div class="messagebox_R"><a>でも原因がわかっただけ良かった、充電切れなら手回しの発電機があるからそれを回せば充電できるよ</a></div>
        <div class="messagebox_L"><a>よし、これで帰れ...って、重くて回せないんだが</a></div>
        <div class="messagebox_R"><a>あ、そういえば負荷の調整忘れてた</a></div>
        <div class="messagebox_R"><a>馬なら回せるけど、この時代馬は貴重なんだ</a></div>
        <div class="messagebox_L"><a>その辺の人に借りられないか聞いてくるぜ！</a></div>
        <div class="messagebox_L"><a>偉い人の部下に聞いたら「我々全員の出す謎を解ければ我らの主人に会わせてやろう！はっはっは！」と言われた</a></div>
        <div class="messagebox_L"><a>この辺で馬を持ってるのはその人だけなんだってよ</a></div>
        <div class="messagebox_R"><a>この時代の偉い人は聖徳太子だから、その部下と言えば冠位十二階かな</a></div>
        <div class="messagebox_R"><a>ちなみに頭には何かぶってた？</a></div>
        <div class="messagebox_L"><a>6組から順番に謎が出されて、最初のやつらは灰色と黒</a></div>
        <div class="messagebox_R"><a>その人達は「智」の組だ、冠位十二階は「智、義、信、礼、仁、徳」の順でえらいから</a></div>
        <div class="messagebox_L"><a>さすが聖徳太子、部下も有能だな</a></div>
        <div class="messagebox_L"><a>最初はこんな人たち</a></div>
        <img src="assets/images/謎1.png" class="imagebox_L">
        <div class="messagebox_L"><a>次はこんな人</a></div>
        <img src="assets/images/謎2.png" class="imagebox_L">
        <div class="messagebox_L"><a>3番目</a></div>
        <img src="assets/images/謎3.png" class="imagebox_L">
        <div class="messagebox_L"><a>4番目</a></div>
        <img src="assets/images/謎4.png" class="imagebox_L">
        <div class="messagebox_L"><a>5番</a></div>
        <img src="assets/images/謎5.png" class="imagebox_L">
        <div class="messagebox_L"><a>6</a></div>
        <img src="assets/images/謎6.png" class="imagebox_L">
        <div class="messagebox_L"><a>6</a></div>
        <img src="assets/images/Q3.png" class="imagebox_L">
        <div class="messagebox_R"><a>ひらがなで入力してね</a>

        <section class="section bg-color--keycolor">
          <div class="container">
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
          </div>
        </section>

        </div>
      </div>
      <div v-if="clear['stage3']" id="sectionStage4" class="stage">
        <div class="messagebox_R"><a>や、やっと終わった...</a></div>
        <div class="messagebox_L"><a>すげえ！役人達おどろいてたぜ！</a></div>
        <div class="messagebox_R"><a>お前も少しは手伝ってくれよ...</a></div>
        <div class="messagebox_L"><a>まあまあ</a></div>
        <div class="messagebox_S"><a>法隆寺の大宝蔵院の中庭に面した壁には、外壁にはあまり多く使われていない色が多く使われているが、その色は？</a></div>
        <div class="messagebox_S"><a>これが分かるということは本当に未来から来たようですね</a></div>
        <div class="messagebox_S"><a>私が信じた神仏の道が幾千年も信じられていて、本当によかった</a></div>
        <div class="messagebox_S"><a>約束通り馬はお貸ししましょう</a></div>
        <div class="messagebox_L"><a>いや〜、それにしても大変だったな</a></div>
        <div class="messagebox_R"><a>主に僕がな！</a></div>
        <div class="messagebox_L"><a>すまんって〜、でもありがとよ！</a></div>
        <div class="messagebox_R"><a>こっちも無事戻れて安心したよ</a></div>
        <div class="messagebox_L"><a>そうだな〜、ん？</a></div>
        <div class="messagebox_R"><a>どうかした？</a></div>
        <div class="messagebox_L"><a>また別の時代に来てしまった気がする</a></div>
        <div class="messagebox_R"><a>えっ</a></div>
        <div class="messagebox_L"><a>ごめん、助けて...</a></div>
        <div class="messagebox_R"><a>もう勝手にしてくれ</a></div>
        <div class="messagebox_L"><a>そ、そんなあ</a></div>
    </div>
  </main>
    <div class="footer">
        <img src="assets/images/footer.png" width="100%">
    </div>
    <footer class="footer section bg-color--gray">
        <div class="container">
            <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
            <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
            <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="assets/js/main.js"></script>
</body>
