<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>聖徳太子からの挑戦状 │ Project N</title>
<link rel="stylesheet" href="assets/css/normalize.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="header">
<img src="assets/images/header1.png" width="100%">
</div>
<main>
<div id="stage" class="messenger">
  
<div class="messagebox_L"><a>タイムマシンサンキューな、<ruby>明日<rt>あした</rt></ruby>10<ruby>時<rt>じ</rt></ruby>ちょうどにでるよ</a></div>
<div class="messagebox_R"><a>タイムスリップは1<ruby>分<rt>ぷん</rt></ruby>につき60<ruby>年<rt>ねん</rt></ruby>だから<ruby>忘<rt>わす</rt></ruby>れないようにね！</a></div>
<div class="messagebox_L"><a><ruby>分<rt>わ</rt></ruby>かってるって、5<ruby>分<rt>ふん</rt></ruby>で300<ruby>年<rt>ねん</rt></ruby>ってことだろ</a></div>
<div class="messagebox_R"><a>2407<ruby>年<rt>ねん</rt></ruby>からひかないと</a></div>
<div class="messagebox_R"><a>それと<ruby>事故<rt>じこ</rt></ruby>とかには気をつけて</a></div>
<div class="messagebox_L"><a><ruby>大丈夫<rt>だいじょうぶ</rt></ruby>だって〜</a></div>
<div class="messagebox_R"><a>まあ、<ruby>楽<rt>たの</rt></ruby><ruby>しんできなよ</a></div>
<div class="messagebox_L"><a>もちろん</a></div>  
<!--ここからスタートに直してほしい。LINEの日付表示みたいに「-9月15日-」みたいな表示を入れられるとよりよい-->
<div class="messagebox_L"><a><ruby>助<rt>たす</rt></ruby>けて！</a></div>
<div class="messagebox_L"><a>タイムマシンで<ruby>移動<rt>いどう</rt></ruby>してて、<ruby>気<rt>き</rt></ruby>づいたら<ruby>知<rt>し</rt></ruby>らない<ruby>時代<rt>じだい</rt></ruby>にいたんだ</a></div>
<div class="messagebox_L"><a>しかもタイムマシンは<ruby>動<rt>うご</rt></ruby>かない</a></div>
<div class="messagebox_L"><a>だから<ruby>頼<rt>たの</rt></ruby>む、<ruby>助<rt>たす</rt></ruby>けてくれ！</a></div>
<div class="messagebox_R"><a>あれ、<ruby>行<rt>い</rt></ruby>く<ruby>前<rt>まえ</rt></ruby>に<ruby>気<rt>き</rt></ruby>をつけてって<ruby>言<rt>い</rt></ruby>わなかった</a></div>
<div class="messagebox_R"><a>とにかくまずは<ruby>時代<rt>じだい</rt></ruby>を<ruby>把握<rt>はあく</rt></ruby>しないと、<ruby>近<rt>ちか</rt></ruby>くに<ruby>何<rt>なに</rt></ruby>かないの？</a></div>
<div class="messagebox_L"><a>えーと...</a></div>
<div class="messagebox_L"><a>こんな<ruby>石碑<rt>せきひ</rt></ruby>がある</a></div>
<img src="assets/images/謎1番目_石碑.png" class="imagebox_L" alt="" width="70%">
<div class="messagebox_R"><a><ruby>遣隋使<rt>けんずいし</rt></ruby>か...</a></div>
<div class="messagebox_R"><a><ruby>他<rt>ほか</rt></ruby>には<ruby>何<rt>なに</rt></ruby>かない？</a></div>
<div class="messagebox_L"><a>カメラににこんな<ruby>映像<rt>えいぞう</rt></ruby>があった</a></div>
<img src="assets/images/謎1番目_亜空間.png" class="imagebox_L" alt="" width="70%">
<div class="messagebox_R"><a>なんだこれ、<ruby>船<rt>ふね</rt></ruby>?</a></div>
<div class="messagebox_L"><a><ruby>他<rt>ほか</rt></ruby>には<ruby>特<rt>とく</rt></ruby>に<ruby>無<rt>な</rt></ruby>いっぽい</a></div>
<div class="messagebox_R"><a><ruby>んー...</a></div>
<div class="messagebox_R"><a><ruby>数字<rt>すうじ</rt></ruby>だけ<ruby>打<rt>う</rt></ruby>ち<ruby>込<rt>こ</rt></ruby>んでね</a>
  
      <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>
      </div>
    </section>
　　
    </div>
    <div v-if="clear['stage1']" id="sectionStage2" class="stage">
    <div class="messagebox_L"><a>おお、ナイス！</a></div>
    <div class="messagebox_R">607<ruby>年<rt>ねん</rt></ruby>は<ruby>有名<rt>ゆうめい</rt></ruby>な<ruby>小野妹子<rt>おののいもこ</rt></ruby>が<ruby>派遣<rt>はけん</rt></ruby>された<ruby>年<rt>とし</rt></ruby>だ
    <div class="messagebox_R"><a>たぶんそれがタイムワープに<ruby>巻<rt>ま</rt></ruby>き<ruby>込<rt>こ</rt></ruby>まれちゃったんだ、ただでさえ<ruby>危<rt>あぶ</rt></ruby>ないのにかわいそうに...</a></div>
    <div class="messagebox_L"><a><ruby>有名人<rt>ゆうめいじん</rt></ruby>も<ruby>大変<rt>たいへん</rt>だなー</ruby></a></div>
    <div class="messagebox_R"><a><ruby>自分<rt>じぶん</rt></ruby>のこと<ruby>忘<rt>わす</rt></ruby>れてない？</a></div>
    <div class="messagebox_R"><a>それはともかく、<ruby>動<rt>うご</rt></ruby>かない<ruby>原因<rt>げんいん</rt></ruby>を<ruby>探<rt>さが</rt></ruby>さないと</a></div>
    <div class="messagebox_L"><a>でも<ruby>俺<rt>おれ</rt></ruby>は<ruby>全然<rt>ぜんぜん</rt></ruby><ruby>分<rt>わ</rt></ruby>かんないぞ？</a></div>
    <div class="messagebox_R"><a><ruby>画面操作<rt>がめんそうさ</rt></ruby>でAIが<ruby>答<rt>こた</rt></ruby>えてくれるからだいじょうぶ</a></div>
    <div class="messagebox_R"><a><ruby>左上<rt>ひだりうえ</rt></ruby>のボタンを<ruby>押<rt>お</rt></ruby>してみて</a></div>
    <div class="messagebox_L"><a>えっと、でてきたけどなぜか<ruby>暗号化<rt>あんごうか</rt></ruby>されてるぜ</a></div>
    <img src="assets/images/謎2番目.png" class="imagebox_L">
    <!--答えを「battery out」に変更-->
    <div class="messagebox_R"><a>AIの<ruby>不調<rt>ふちょう</rt></ruby>だと思う、えーとこれは...</a></div>
    <div class="messagebox_R">

    <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
      </div>
    </section>

    </div>
  </div>
    <div v-if="clear['stage2']" id="sectionStage3" class="stage">
    <div class="messagebox_R"><a><ruby>充電<rt>じゅうでん</rt></ruby><ruby>切<rt>ぎ</rt></ruby>れだと思う</a></div>
    <div class="messagebox_L"><a>おお！</a></div>
    <div class="messagebox_R"><a><ruby>充電<rt>じゅうでん</rt></ruby><ruby>切<rt>ぎ</rt></ruby>れなら<ruby>手動<rt>しゅどう</rt></ruby>の<ruby>発電機<rt>はつでんき</rt></ruby>がついてるよ</a></div>
    <div class="messagebox_L"><a>よし、これで<ruby>帰<rt>かえ</rt></ruby>れる！</a></div>
    <div class="messagebox_L"><a>...って、<ruby>重<rt>おも</rt></ruby>くて<ruby>回<rt>まわ</rt></ruby>せない!?</a></div>
    <div class="messagebox_R"><a>あ、そういえばめちゃくちゃ<ruby>重<rt>おも</rt></ruby>いままだった</a></div>
    <div class="messagebox_R"><a><ruby>馬<rt>うま</rt></ruby>ならきっと<ruby>回<rt>まわ</rt></ruby>せるよ</a></div>
    <div class="messagebox_L"><a><ruby>村<rt>むら</rt></ruby>の<ruby>人<rt>ひと</rt></ruby>に<ruby>頼<rt>たの</rt></ruby>んでみるかー</a></div><br>
    <div class="messagebox_L"><a>えーと、<ruby>役人<rt>やくにん</rt></ruby>さん<ruby曰><rt>いわ</rt></ruby>く「<ruby>馬<rt>うま</rt></ruby><ruby>は貴重だが<ruby>賢<rt>かしこ</rt></ruby>さを<ruby>示<rt>しめ</rt></ruby>せば<ruby>我々<rt>われわれ</rt></ruby>の<ruby>主人<rt>しゅじん</rt></ruby>に<ruby>貸<rt>か</rt></ruby>してもらえるかもしれぬ」だって</a></div>
    <div class="messagebox_L"><a>その<ruby>人<rt>ひと</rt></ruby>は<ruby>黒<rt>くろ</rt></ruby>い<ruby>帽子<rt>ぼうし</rt></ruby>をかぶってた</a></div>
    <div class="messagebox_R"><a>きっと<ruby>冠位十二階<rt>かんいじゅうにかい</rt></ruby>で<ruby>一番<rt>いちばん</rt></ruby><ruby>下<rt>した</rt></ruby>の<ruby>組<rt>くみ</rt></ruby>の「<ruby>智<rt>ち</rt></ruby>」の<ruby>人<rt>ひと</rt></ruby>だ</a></div>
    <div class="messagebox_L"><a><ruby>聖徳太子<rt>しょうとくたいし</rt></ruby>はえらくない<ruby>部下<rt>ぶか</rt></ruby>も<ruby>優秀<rt>ゆうしゅう</rt></ruby>なんだな！</a></div>
    <div class="messagebox_R"><a>ちなみにまだ<ruby>上<rt>うえ</rt></ruby>には「<ruby>義<rt>ぎ</rt>、<ruby><信rt><しん/rt></ruby>、<ruby>礼<rt>れい</rt></ruby>、<ruby>仁<rt>じん</rt></ruby>、<ruby>徳<rt>とく</rt></ruby>」がいるよ</a></div>
    <div class="messagebox_L"><a><ruby>少<rt>すこ</rt></ruby>し<ruby>心配<rt>しんぱい</rt></ruby>になってきたよ</a></div>
    <div class="messagebox_L"><a>あ、きた！<ruby>最初<rt>さいしょ</rt></ruby>はこんな<ruby>人<rt>ひと</rt></ruby>たちだ！</a></div>
    <img src="assets/images/謎出題1.智.png" class="imagebox_L">
    <img src="assets/images/謎1.png" class="imagebox_L">
    <div class="messagebox_L"><a>次はこんな人</a></div>
    <img src="assets/images/謎出題2.義.png" class="imagebox_L">
    <img src="assets/images/謎2.png" class="imagebox_L">
    <div class="messagebox_L"><a>3組目</a></div>
    <img src="assets/images/謎出題3.信.png" class="imagebox_L">
    <img src="assets/images/謎3.png" class="imagebox_L">
    <div class="messagebox_L"><a>4組目</a></div>
    <img src="assets/images/謎出題4.礼.png" class="imagebox_L">
    <img src="assets/images/謎4.png" class="imagebox_L">
    <div class="messagebox_L"><a>5</a></div>
    <img src="assets/images/謎出題5.仁.png" class="imagebox_L">
    <img src="assets/images/謎5.png" class="imagebox_L">
    <div class="messagebox_L"><a>6!最後お！</a></div>
    <img src="assets/images/謎出題6.徳.png" class="imagebox_L">
    <img src="assets/images/謎6.png" class="imagebox_L">
    <div class="messagebox_L"><a>そして今までの謎の答えを合わせて...</a></div>
    <img src="assets/images/Q3.png" class="imagebox_L">
    <div class="messagebox_R"><a>ひらがなで入力してね</a>

    <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
      </div>
    </section>

    </div>
  </div>
  <div v-if="clear['stage3']" id="sectionStage4" class="stage">
    <div class="messagebox_R"><a>や、やっと<ruby>終<rt>お</rt></ruby>わった...</a></div>
    <div class="messagebox_L"><a>すげえ！<ruby>役人達<rt>やくにんたち</rt></ruby>おどろいてたぜ！</a></div>
    <div class="messagebox_R"><a><ruby>君<rt>きみ</rt></ruby>も<ruby>少<rt>すこ</rt></ruby>しは<ruby>手伝<rt>てつだ</rt></ruby>ってよ...</a></div>
    <div class="messagebox_L"><a>いやーごめんごめん！</a></div>
    <div class="messagebox_L"><a><ruby>見事<rt>みごと</rt></ruby>だ、<ruby>若<rt>わか</rt></ruby>きものよ...</a></div>
    <div class="messagebox_L"><a><ruby>我等<rt>われら</rt></ruby>の<ruby>摂政<rt>せっしょう</rt></ruby>さまにお<ruby>引<rt>ひ</rt></ruby>き<ruby>合<rt>あ</rt></ruby>わせしよう</a></div>
    <div class="messagebox_S"><aこれが<ruby>後<rt>のち</rt></ruby>の<ruby>世<rt>よ</rt></ruby>の<ruby>書<rt>しょ</rt></ruby>ですか...?ずいぶんと<ruby>字<rt>じ</rt></ruby>の<ruby>形<rt>かたち</rt></ruby>が<ruby>変<rt>か</rt></ruby>わっているのですね</a></div>
    <div class="messagebox_S"><a>こんにちは、<ruby>聖徳太子<rt>しょうとくたいし</rt></ruby>こと<ruby>厩戸皇子<rt>うまやどのおうじ</rt></ruby>です</a></div>
    <div class="messagebox_R"><a>ス、スマホ使えるんですね..</a>.</div>
    <div class="messagebox_S"><a>いえいえ、そちらこそあなたたちのようにかしこい<ruby>子供達<rt>こどもたち</rt></ruby>は<ruby>初<rt>はじ</rt></ruby>めてです</a></div>
    <div class="messagebox_S"><a>お<ruby>話<rt>はなし</rt></ruby>は<ruby>聞<rt>き</rt></ruby>いています、<ruby>私<rt>わたし</rt></ruby>の<ruby>問<rt>と</rt></ruby>いに<ruby>答<rt>こた</rt></ruby>えられれば<ruby>馬<rt>うま</rt></ruby>はお<ruby>貸<rt>か</rt></ruby>ししましょう。</a></div>
    <div class="messagebox_R"><a><ruby>話<rt>はなし</rt></ruby>が<ruby>早<rt>はや</rt></ruby>くて<ruby>助<rt>たす</rt></ruby>かります</a></div>
    <div class="messagebox_L"><a>それではどうぞ。これまでの<ruby>謎<rt>なぞ</rt></ruby>を<ruby>解<rt>と</rt></ruby>いてきたあなたなら<ruby>解<rt>と</rt></ruby>けるはずです</a></div>
    <img src="assets/images/謎4番目.png" class="imagebox_L">
    <div class="messagebox_S"><a>これをよく<ruby>解<rt>と</rt></ruby>きました、すばらしいです</a></div>
    <div class="messagebox_S"><a>この「和を以って尊しと為す」は<ruby>私<rt>わたし</rt></ruby>の<ruby>憲法<rt>けんぽう</rt>の<ruby>最初<rt>さいしょ</rt></ruby>の<ruby>言葉<rt>ことば</rt></ruby>です</a></div>
    <div class="messagebox_S"><a>あなたたちがつくる<ruby>未来<rt>みらい</rt></ruby>も、この<ruby>言葉<rt>ことば</rt></ruby>の<ruby>通<rt>とお</rt></ruby>り<ruby>皆<rt>みな</rt></ruby>が<ruby>争<rt>あらそ</rt>わないものにしてくださいね</ruby></a></div>
    <div class="messagebox_S"><a><ruby>馬<rt>うま</rt></ruby>はお<ruby>貸<rt>か</rt></ruby>しします。それでは、<ruby>頼<rt>たの</rt></ruby>みましたよ</a>
    <div class="messagebox_R"><a>はい、ありがとうございました！</a></div>
    <div class="messagebox_L"><a>はい、ありがとうございました！</a></div><br><br>
    <!--縦棒を何本か重ねたり何回か改行して時間がたった雰囲気を出したい-->
    <div class="messagebox_L"><a>いや〜、それにしても<ruby>大変<rt>たいへん</rt></ruby>だったな</a></div>
    <div class="messagebox_R"><a><ruby>君<rt>きみ</rt></ruby><ruby>特<rt>とく</rt></ruby>に<ruby>何<rt>なに</rt></ruby>もしてないだろ</a></div>
    <div class="messagebox_R"><a>まあ<ruby>無事<rt>ぶじ</rt></ruby><ruby>戻<rt>もど</rt></ruby>れて<ruby>安心<rt>あんしん</rt></ruby>したよ</a></div>
    <div class="messagebox_L"><a>そうだな、ん？</a></div>
    <div class="messagebox_R"><a>なんか<ruby>影<rt>が</rt></ruby>...</a></div>
    <div class="messagebox_L"><a>また<ruby>別<rt>べつ</rt></ruby>の<ruby>時代<rt>じだい</rt></ruby>に<ruby>来<rt>き</rt></ruby>てしまった<ruby>気<rt>き</rt></ruby>がする</a></div>
    <div class="messagebox_R"><a>えっ</a></div>
    <div class="messagebox_L"><a>カ、カメラにこんな<ruby>映像<rt>えいぞう</rt></ruby>が...</a></div>
    <div class="messagebox_R"><a>もうその<ruby>時代<rt>じだい</rt></ruby>で暮らしな！！
¥</a></div>
    <div class="messagebox_L"><a>そ、そんなあ</a></div>

  </div>
</main>
<div class="footer">
<img src="assets/images/footer.png" width="100%">
</div>
<footer class="footer section bg-color--gray">
<div class="container">
<p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
<p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
<p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
</div>
</footer>
<script src="https://unpkg.com/vue@next"></script>
<script src="assets/js/main.js"></script>
</body>
