<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>聖徳太子からの挑戦状 │ Project N</title>
<link rel="stylesheet" href="assets/css/normalize.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="header">
<img src="assets/images/header1.png" width="100%">
</div>
<main>
<div id="stage" class="messenger">
  
<div class="messagebox_L"><a>タイムマシンサンキューな、<ruby>明日<rt>あした</rt></ruby>10<ruby>時<rt>じ</rt></ruby>ちょうどにでるよ</a></div>
<div class="messagebox_R"><a>タイムスリップは1分につき60年だから<ruby>忘<rt>わす</rt></ruby>れないようにね！</a></div>
<div class="messagebox_L"><a><ruby>分<rt>わ</rt></ruby>かってるって。5分で300年、だろ？</a></div>
<div class="messagebox_R"><a>2407年からひくんだぞー</a></div>
<div class="messagebox_R"><a>それと<ruby>事故<rt>じこ</rt></ruby>と<ruby>充電<rt>じゅうでん</rt></ruby><ruby>切<rt>ぎ</rt></ruby>れには気をつけて！</a></div>
<div class="messagebox_L"><a><ruby>大丈夫<rt>だいじょうぶ</rt></ruby>だって〜</a></div>
<div class="messagebox_R"><a>まあ、<ruby>楽<rt>たの</rt></ruby><ruby>しんできなよ</a></div>
<div class="messagebox_L"><a>おうよ！</a></div>  
<!--ここからスタートに直してほしい。LINEの日付表示みたいに「-9月15日-」みたいな表示を入れられるとよりよい-->
<div class="messagebox_L"><a>た、<ruby>助<rt>たす</rt></ruby>けて！</a></div>
<div class="messagebox_L"><a><ruby>昨日<rt>きのう</rt></ruby>もらったタイムマシンで<ruby>事故<rt>じこ</rt></ruby>を<ruby>起<rt>お</rt></ruby>こしてしまった</a></div>
<div class="messagebox_L"><a>しかも<ruby>知<rt>し</rt></ruby>らない<ruby>時代<rt>じだい</rt></ruby>に<ruby>取<rt>と</rt></ruby>り<ruby>残<rt>のこ</rt></ruby>されてるんだよ...</a></div>
<div class="messagebox_L"><a><ruby>頼<rt>たの</rt></ruby>む、<ruby>助<rt>たす</rt></ruby>けてくれ</a></div>
<div class="messagebox_R"><a>だから<ruby>気<rt>き</rt></ruby>をつけてって<ruby>言<rt>い</rt></ruby>ったのに...</a></div>
<div class="messagebox_R"><a>とにかくまずは<ruby>時代<rt>じだい</rt></ruby>を<ruby>把握<rt>はあく</rt></ruby>しないと、<ruby>近<rt>ちか</rt></ruby>くに<ruby>何<rt>なに</rt></ruby>かないの？</a></div>
<div class="messagebox_L"><a>えーと...</a></div>
<div class="messagebox_L"><a>こんな<ruby>石碑<rt>せきひ</rt></ruby>がある</a></div>
<img src="assets/images/石碑 (1).png" class="imagebox_L" alt="" width="70%">
<div class="messagebox_R"><a><ruby>遣隋使<rt>けんずいし</rt></ruby>か...<ruby>遣隋使<rt>けんずいし</rt></ruby>って<ruby>言<rt>い</rt></ruby>ってもたくさんいるよなあ...</a></div>
<div class="messagebox_R"><a><ruby>他<rt>ほか</rt></ruby>には<ruby>何<rt>なに</rt></ruby>かない？</a></div>
<div class="messagebox_L"><a>ドラレコにこんな<ruby>映像<rt>えいぞう</rt></ruby>があった</a></div>
<img src="assets/images/亜空間 2.png" class="imagebox_L" alt="" width="70%">
<div class="messagebox_R"><a>うーん...<ruby>他<rt>ほか</rt></ruby>には？</a></div>
<div class="messagebox_L"><a><ruby>他<rt>ほか</rt></ruby>には<ruby>特<rt>とく</rt></ruby>に<ruby>無<rt>な</rt></ruby>い</a></div>
<div class="messagebox_R"><a><ruby>何年<rt>なんねん</rt></ruby>だろう...</a></div>
<div class="messagebox_R"><a><ruby>数字<rt>すうじ</rt></ruby>だけ<ruby>打<rt>う</rt></ruby>ち<ruby>込<rt>こ</rt></ruby>んでね</a>
  
      <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>
      </div>
    </section>
　　
    </div>
    <div v-if="clear['stage1']" id="sectionStage2" class="stage">
    <div class="messagebox_L"><a>おお！さすがだぜ！</a></div>
    <div class="messagebox_R"><a>あれは<ruby>小野妹子<rt>おののいもこ</rt></ruby>が<ruby>乗<rt>の</rt></ruby>ってるやつかな、<ruby>多分<rt>たぶん</rt></ruby>それがタイムワープに<ruby>巻<rt>ま</rt></ruby>き<ruby>込<rt>こ</rt></ruby>まれたんだ</a></div>
    <div class="messagebox_L"><a>そんな<ruby>有名人<rt>ゆうめいじん</rt></ruby>を<ruby>巻<rt>ま</rt></ruby>き<ruby>込<rt>こ</rt></ruby>んで<ruby>大丈夫<rt>だいじょうぶ</rt></ruby>かよ</a></div>
    <div class="messagebox_R"><a><ruby>僕<rt>ぼく</rt></ruby>に<ruby>言<rt>い</rt></ruby>われても</a></div>
    <div class="messagebox_R"><a>とりあえず<ruby>白亜紀<rt>はくあき</rt></ruby>とかじゃなくてよかったし、<ruby>故障<rt>こしょう</rt></ruby>した<ruby>原因<rt>げんいん</rt></ruby>を<ruby>探<rt>さが</rt></ruby>そうか</a></div>
    <div class="messagebox_L"><a>でも<ruby>俺<rt>おれ</rt></ruby>は<ruby>機械<rt>きかい</rt></ruby><ruby>全然<rt>ぜんぜん</rt></ruby><ruby>分<rt>わ</rt></ruby>からないぞ？</a></div>
    <div class="messagebox_R"><a><ruby>画面操作<rt>がめんそうさ</rt></ruby>でAIが<ruby>答<rt>こた</rt></ruby>えてくれるよ</a></div>
    <div class="messagebox_R"><a><ruby>左上<rt>ひだりうえ</rt></ruby>のボタンを<ruby>押<rt>お</rt></ruby>せばいけるはず</a></div>
    <div class="messagebox_L"><a>おっ、でてきた！けどなんか<ruby>暗号化<rt>あんごうか</rt></ruby>されてる！</a></div>
    <img src="assets/images/謎2new.png" class="imagebox_L">
    <!--答えを「じゅうでんぎれ」に変更-->
    <div class="messagebox_R"><a>AIも<ruby>不調<rt>ふちょう</rt></ruby>みたいだ、えーとこれは...</a></div>
    <div class="messagebox_R">

    <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
      </div>
    </section>

    </div>
  </div>
    <div v-if="clear['stage2']" id="sectionStage3" class="stage">
    <div class="messagebox_R"><a><ruby>充電<rt>じゅうでん</rt></ruby><ruby>切<rt>ぎ</rt></ruby>れだ！</a></div>
    <div class="messagebox_L"><a>おお！</a></div>
    <div class="messagebox_R"><a>ってこれも<ruby>言<rt>い</rt></ruby>ったよね...</a></div>
    <div class="messagebox_L"><a>ご、ごめん</a></div>
    <div class="messagebox_R"><a>でも<ruby>原因<rt>げんいん</rt></ruby>がわかっただけ<ruby>良<rt>よ</rt></ruby>かった、<ruby>充電<rt>じゅうでん</rt></ruby><ruby>切<rt>ぎ</rt></ruby>れなら<ruby>手回<rt>てまわ</rt></ruby>しの<ruby>発電機<rt>はつでんき</rt></ruby>があるからそれを<ruby>回<rt>まわ</rt></ruby>せば<ruby>充電<rt>じゅうでん</rt></ruby>できるよ</a></div>
    <div class="messagebox_L"><a>よし、これで<ruby>帰<rt>かえ</rt></ruby>れ...って、<ruby>重<rt>おも</rt></ruby>くて<ruby>回<rt>まわ</rt></ruby>せないんだが</a></div>
    <div class="messagebox_R"><a>あ、そういえば負荷の調整忘れてた</a></div>
    <div class="messagebox_R"><a>馬なら回せるけど、この時代馬は貴重なんだ</a></div>
    <div class="messagebox_L"><a>その辺の人に借りられないか聞いてくるぜ！</a></div>
    <div class="messagebox_L"><a>偉い人の部下に聞いたら「我々全員の出す謎を解ければ我らの主人に会わせてやろう！はっはっは！」と言われた</a></div>
    <div class="messagebox_L"><a>この辺で馬を持ってるのはその人だけなんだってよ</a></div>
    <div class="messagebox_R"><a>この時代の偉い人は聖徳太子だから、その部下と言えば冠位十二階かな</a></div>
    <div class="messagebox_R"><a>ちなみに頭には何かぶってた？</a></div>
    <div class="messagebox_L"><a>6組から順番に謎が出されて、最初のやつらは灰色と黒</a></div>
    <div class="messagebox_R"><a>その人達は「智」の組だ、冠位十二階は「智、義、信、礼、仁、徳」の順でえらいから</a></div>
    <div class="messagebox_L"><a>さすが聖徳太子、部下も有能だな</a></div>
    <div class="messagebox_L"><a>最初はこんな人たち</a></div>
    <img src="assets/images/謎1.png" class="imagebox_L">
    <div class="messagebox_L"><a>次はこんな人</a></div>
    <img src="assets/images/謎2.png" class="imagebox_L">
    <div class="messagebox_L"><a>3番目</a></div>
    <img src="assets/images/謎3.png" class="imagebox_L">
    <div class="messagebox_L"><a>4番目</a></div>
    <img src="assets/images/謎4.png" class="imagebox_L">
    <div class="messagebox_L"><a>5番</a></div>
    <img src="assets/images/謎5.png" class="imagebox_L">
    <div class="messagebox_L"><a>6</a></div>
    <img src="assets/images/謎6.png" class="imagebox_L">
    <div class="messagebox_L"><a>6</a></div>
    <img src="assets/images/Q3.png" class="imagebox_L">
    <div class="messagebox_R"><a>ひらがなで入力してね</a>

    <section class="section bg-color--keycolor">
      <div class="container">
        <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
      </div>
    </section>

    </div>
  </div>
  <div v-if="clear['stage3']" id="sectionStage4" class="stage">
    <div class="messagebox_R"><a>や、やっと終わった...</a></div>
    <div class="messagebox_L"><a>すげえ！役人達おどろいてたぜ！</a></div>
    <div class="messagebox_R"><a>お前も少しは手伝ってくれよ...</a></div>
    <div class="messagebox_L"><a>まあまあ</a></div>
    <div class="messagebox_L"><a><ruby>見事<rt>みごと</rt></ruby>だ、<ruby>若<rt>わか</rt></ruby>きものよ...</a></div>
    <div class="messagebox_S"><a>法隆寺の大宝蔵院の中庭に面した壁には、外壁にはあまり多く使われていない色が多く使われているが、その色は？</a></div>
    <div class="messagebox_S"><a>これが分かるということは本当に未来から来たようですね</a></div>
    <div class="messagebox_S"><a>私が信じた神仏の道が幾千年も信じられていて、本当によかった</a></div>
    <div class="messagebox_S"><a>約束通り馬はお貸ししましょう</a></div>
    <!--縦棒を何本か重ねたり何回か改行して時間がたった雰囲気を出したい-->
    <div class="messagebox_L"><a>いや〜、それにしても大変だったな</a></div>
    <div class="messagebox_R"><a>主に僕がな！</a></div>
    <div class="messagebox_L"><a>すまんって〜、でもありがとよ！</a></div>
    <div class="messagebox_R"><a>まあでも、こっちも無事戻れて安心したよ</a></div>
    <div class="messagebox_L"><a>そうだな、ん？</a></div>
    <div class="messagebox_R"><a>どうかした？</a></div>
    <div class="messagebox_L"><a>また別の時代に来てしまった気がする</a></div>
    <div class="messagebox_R"><a>えっ</a></div>
    <div class="messagebox_L"><a>ごめん、助けて...</a></div>
    <div class="messagebox_R"><a>もう勝手にしてくれ</a></div>
    <div class="messagebox_L"><a>そ、そんなあ</a></div>

  </div>
</main>
<div class="footer">
<img src="assets/images/footer.png" width="100%">
</div>
<footer class="footer section bg-color--gray">
<div class="container">
<p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
<p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
<p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
</div>
</footer>
<script src="https://unpkg.com/vue@next"></script>
<script src="assets/js/main.js"></script>
</body>
