body{
    text-align: center;
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 20px;
}
.heading{
    color: #a30b00;
    border: 2px solid gray;
    margin: 3em 9em;
    padding: 1em 1em;
}
.story{
    border: 2px solid gray;
    margin: 3em 9em;
    padding: 3em 9em;
}
.rule{
    border: 2px solid gray;
    margin: 0 9em;
    padding: 3em 9em;
}
.start{
    position: relative;
    background-color: #a30b00;
    top: 7em;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.start > a{
    display: block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.messenger{
    margin: 3em 15em;
}
.messagebox_L{
    background-color: lightskyblue;
    padding: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    margin-bottom: 1em;
    clear:both;
}
.messagebox_R{
    background-color: lightseagreen;
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
    margin-bottom: 1em;
    clear:both;
}
.messagebox_S{
    background-color: goldenrod;
    padding: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    margin-bottom: 1em;
    clear:both;
}
.imagebox_L{
    float: left;
    margin-bottom: 1em;
    clear: both;
    width: 500px;
}
.imagebox_R{
    float: right;
    margin-bottom: 1em;
    clear: both;
    width: 500px;
}
